* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-repeat: space repeat center;
  color: black;
  font-family: "Oswald", sans-serif;
}

.botones {
  font-size: 18px;
  font-family: oswald, sans-serif;
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  align-self: center;
  color: white;
  background-color: black;
  border-radius: 20px;
}

p {
  margin: 0px;
  font-size: 20px;
}

ol,
ul {
  padding-left: 0px;
}

header {
  background-color: black;
  margin-bottom: 50px;
  box-shadow: 0px 0px 15px 0px black;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;

  nav {
    div {
      display: flex;
      justify-content: flex-end;

      .logo {
        font-size: 65px;
        font-style:oblique;
      }

      a {
        margin: 20px;
      }
    }
  }
}

footer {
  background-color: black;
  color: white;
  margin-top: 60px;
  padding: 20px;
  bottom: 0px;
  font-size: 20px;

  p {
      text-align: center;
  }

  .footer-content {
      padding: 15px;
      display: flex;
      justify-content: space-between;     
  }
}





#container-general {
  display: flex;
  flex-direction: column;

  #ordenar-modal {
      display: flex;
      justify-content: space-around;

      #seleccion {
          width: 20%;
          margin: 20px 0px 30px 80px;
      }

      .modal-carrito {
          width: 15%;
          align-self: center;
          margin-right: 160px;
         

          i {
              font-size: 20px;
          }
      }


      .table {
          text-align: center;
      }

      #gastoTotal {
          font-size: 18px;
      }
  }

  #section-productos {
      width: 80%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-end;
      


      .card-product {
          width: 30%;
          margin: 20px;
          text-align: center;


          .img-container {
              position: relative;

              img {
                  width: 100%;
                  height: 50%;
                  margin: 10px;
              }
          }


          .info-producto {
              display: flex;
              flex-direction: column;
          }
      }
  }
}